
.login-register {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.login-register-internal-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 35%;
    min-width: 350px;
}

.login-register-form-group {
    display: flex;
    flex-direction: column;
}

.login-register-form-group label {
    width: 100%;
    margin: 10px 0 5px;
    text-align: left;
}

.login-register-form-group input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-sign {
    margin: 0;
    margin-top: 10px;
}

.social-signup {
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 35%;
    min-width: 350px;
}

.btn-google, .btn-facebook {
    align-items: center;
    display: flex;
    padding: 15px 20px;
    margin: 0;
    width: 48%;
}

.btn-google {
    background-color: #de5246;
    color: white;
}

.btn-google:hover {
    background-color: #c34132;
}

.btn-facebook {
    background-color: #0866FF;
    color: white;
}

.btn-facebook:hover {
    background-color: #2d4373;
}

.social-icon {
    font-size: 1.5rem;
}

.social-text {
    margin: auto;
}
